@media (max-width: 2803px) {
    @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

    *{
        margin: 0;
        box-sizing: border-box;
    }

    header menu a{

        text-decoration: none;
        color: var(--Black);
        text-align: center;
        font-size: 1.5rem;
        margin-left: 5rem;
        padding: 0 ;
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
    }

    main .text{
        margin-left: 4rem;
        margin-top: 3rem;
        text-align: left;
    }

    main .text h1{
        font-family: "League Spartan", sans-serif;
        font-weight: 600;
        color: var(--Blue);
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    
    main .text p{
        margin-top: 2rem;
        font-family: "League Spartan", sans-serif;
        font-weight: 200;
        font-family: 5em;
        
    
    }
}