@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
    margin: 0rem 1rem 0rem 1rem;
    box-sizing: border-box;
}

:root{
    --Pink: #F9A5A5;
    --Blue: #6893EF;
    --Baby-Blue: #CAE8F3;
    --Baby-Yellow: #FEF7C3;
    --Black: #212429;
    --Gray: #495057;
    --Light-Grey: #ACB5BD;
    --Ice-White: #F2F2F2;
    --White: #FFFFFF;
}

body{
    background-color: var(--Ice-White);
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header #textworkingB{
    padding-bottom: 2rem;
}

header menu a{
    text-decoration: none;
    color: var(--Black);
    text-align: center;
    font-size: 1.5rem;
    margin-left: 0rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}

header .lang{
    margin-left: 13rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
} header .lang button::selection{
    color: var(--Pink);
}
header .lang #pt{
    border-right: var(--Black) solid 1px;
}

header button:active{
    color: var(--Pink);
}

header button{
    background: transparent;
    border: none;
    font-size: 1rem;

}

 #elipse10{
    z-index: -1;;
    width: 100%;
    position:absolute;
    left:63%;
    top:-57%;
}

main{
    display: grid;
    grid-template-columns: 50% 50%;

}

main .text{
    margin-left: 7rem;
    margin-top: 6rem;
    text-align: left;
}

main img{
margin-top: 12vw;
margin: 12rem 0rem 0rem 6rem ;
}

main .text h1{
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    color: var(--Blue);
    font-size: 5rem;
    margin-bottom: 2rem;
}

main .text p{
    margin-top: 2rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
    color: var(--Gray);

}

#elipse9{
    position: absolute;
    z-index: -1;
    right: 75%;
    top: 160%;
}

.instructions .destaque{
    display: flex;
    flex-direction: row;
    background-color: var(--White);
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 6vw;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 4px 4px 0px rgba(184,184,184,1);
    box-shadow: 0px 4px 4px 0px rgba(184,184,184,1);
    font-family: "League Spartan", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 15vw;
}

.instructions .destaque .box{
    margin: auto;
    
}

.instructions h4{
    color: var(--Blue);
    text-align: right;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    margin: 20rem 8rem 0rem 0rem;   
    
}

.instructions #t1{
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    margin: 0rem 8rem 0rem 0rem; 
    text-align: right;
}

.steps{
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 0rem 4rem;
}

.steps .step h1 {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    color: var(--Pink);
    margin-right: 5rem;
}

.steps .step h2 {
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
    margin-right: 5rem;
    
}

.steps .step p {
    font-family: "League Spartan", sans-serif;
    font-weight: 200;
    margin-right: 5rem;
    color: var(--Gray);
}
