@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
    background-color: #FEF7C3;
    
}

.objetivo-cronograma{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.objetivo{
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: "League Spartan", sans-serif;
    color: #5b5b5b;
    margin: 1rem;
}

.data-limite{
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: "League Spartan", sans-serif;
    color: #5b5b5b;
    margin: 1rem;
}

.cronograma{
    width: 90%;
    margin: auto ;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "League Spartan", sans-serif;
    color: #5b5b5b;
}

.conteudo-cronograma{
    margin: 0 20px 20px 20px;
    
}

.data-cronograma-direita{
    text-align: right;
}

.linha{
    position: relative;
    background-color: #5b5b5b;
    width: 100%;
}

.ponto{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5b5b5b;
}

.texto-cronograma{
    padding: 1.5em;
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}