@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --first-color: #F2F2F2;
    --second-color: #ccbcbc;
    --third-color: #A288A6;
    --fourth-color: #F1E3E4;
    --body-font: "League Spartan", sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --z-fixed: 100;
}

.body{
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "League Spartan", sans-serif;
}

.main{
    margin: 1rem 0;
}

.header{
    border-bottom: 1px #CCBCBC solid;
    padding: 0 0 0.5rem ;
    font-weight: 800;
}

.header__toggle{
    font-size: 1.7rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: var(--second-color);
} 

.header__toggle:hover{
    cursor: pointer;
}

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1 rem 1rem 3rem;
    background-color: var(--third-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav::-webkit-scrollbar{
    display: none;
}

.nav__logo {
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
    width: 5rem;
}

.nav__list, .nav__items {
    display: grid;
}

.nav__list{
    row-gap: 2.5rem;
}

.nav__items{
    row-gap: 1.5rem;
}

.nav__subtitle{
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #252525;
}

.nav__link {
    display: flex;
    align-items: center;
    color: #252525;
    text-decoration: none;
}

.nav__link::hover{
    color: var(--second-color);
}

.nav__icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav__name{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
}

.nav__logout{
    margin-top: 5rem;
}

.show-menu{
    left: 0;
}

@media screen and (min-width: 1024px) {
    :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
   }
}

*,::before, ::after{
    box-sizing: border-box;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 320px) {
   .vl{
    border-left: 0px solid #BFBFBF;
   }
}

@media screen and (min-width: 768px){
    body {
        padding: 1rem 3rem 0 6rem;
    }

    .header {
        height: calc(3.5rem + .5rem);
    }

    .header__toggle{
        display: none;
    }

    .perfil {
        width: 10rem;
        align-items: center;
    }

    .nav{
        left: 0;
        padding: 1.2rem 1.5rem 2rem;
        width: 75px;
    }

    .nav__logo{
        width: 1.6rem;
        align-items: center;
    }

    .nav__items{
        row-gap: 1.7rem;
    }

    .nav__icon {
        font-size: 1.3rem;
    }

    .nav:hover{
        width: 219px;
    }
}

.form-control{
    border: 2px solid #A288A6;
    background-color: #CCBCBC;
    color: var(--third-color);
}

.solicitar{
    background-color: #B6BB9B;
    font-weight: 600;
}

.solicitar:hover{
    background-color: #9bbba2;
}

.section{
    margin-top: 2rem;
}

.vl {
    border-left: 2px solid #CCBCBC;
    height: 50rem;
    position: absolute;
    left: 50%;
    top: 13;
}  

h6{
    color:gray;
}

.nav a{
    text-decoration: none;
    color: #F1E3E4;
}

.nav a:hover{
    color: black;
}

.form-label , form-control{
    background-color: var(--first-color);
}

.edit {
    background-color: #D9D9D9;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    color: #555555;
    cursor: pointer;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.edit:hover {
    background-color: #BFBFBF;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    color: #555555;
    cursor: pointer;
}

.save {
    background-color: #F1E3E4;
    border: 2px solid #CCBCBC;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    color: #CCBCBC;
    cursor: pointer;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.save:hover {
    background-color: #CCBCBC;
    border-color: 1px solid #F1E3E4;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    color: #F1E3E4;
    cursor: pointer;
}